<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "br.com.danielpinheiro"
	version 	= "1.0.0">

	<name>PriorityPhone</name>

	<description>
		A template for getting started with PhoneGap development and build.phonegap.com
	</description>

	<author href="https://github.com/danielpinheiro"
		email="danielpinheiro.developer@gmail.com">
		Andrew Lunny
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
